body {
    overflow: hidden !important;
    background-color: #0E1117;
}

#main {
    width: 100vw;
    height: 100vh;
}

.nodes * {
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
}
